sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.2em;
}

sub { top: 0.2em; }

.footnotes li p {
  display: inline;
}

body {
/* font-family: Georgia; */
}

pre, code {
  font-family: "Monaco", "Consolas", "Courier New", monospace;
}

pre code {
  font-size: 10px;
}

p > code {
  font-size: 12px;
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  padding: 0 1px;
}

pre {
  background-color: white;
  border: 2px solid #ddd;
  padding: 4px 8px;
  margin: 2em 0;
  overflow-x: scroll;
}

a, a:visited {
  color: #5e79b6; /* #5f7ea0; */
  background-color: #f9fafd; /* #e2e8f6; */
  border-bottom: 1px dotted #888;
  text-decoration: none;
}

a:hover {
  color: #5e79b6; /* #5f7ea0; */
  background-color: #e2e8f6;
  border-bottom: 1px solid #aaa;
}


p.large {
  font-size:
}

hr.large {
  border: none;
  height: 4px;
  background: #ebebeb;
/* margin: 50px 0;  */
}


nav {
  border-bottom: 4px solid #ebebeb; 
  padding-bottom: 12px;
  margin-top: 1em;
  margin-bottom: 2em;
}

nav a {
  font-size: 14px;
  font-weight: normal;
  color: black;
  background-color: transparent;
  text-decoration: none;
  padding: 8px 16px;
  border: none;
}

nav a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
  border-bottom: 4px solid #b2dd73;
  padding-bottom: 15px;
}

nav a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

nav a.current {
  border-bottom: 4px solid #6e8dd4;
  padding-bottom: 15px;
}




.post {
  margin-bottom: 36px;
}

.post h1 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
}

.post ul {
  list-style-type: disc;
}

.post li {
  margin-left: 2em;
  margin-bottom: 6px;
}

.post-content {

}

.post-content h1 {
  /*h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }*/
  font-size: 21px; line-height: 30px; margin-bottom: 4px;
}

.post-content h2 {
  font-size: 17px;
  line-height: 24px;
/*  h6 { font-size: 14px; line-height: 21px; }*/
}

.post-content h3 {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.post-date {
  font-family: Monaco, "Courier New", monospace;
  /*font-size: 12px;*/
  font-weight: normal;
  color: #aaa;
}

.center {
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.back {
  margin-top: 24px;
  text-align: center;
  color: #aaa;
}

.back a {
  color: #aaa;
  text-decoration: none;
}

.title {
  /*font-size: 14px;*/
  font-size: 80%;
  font-variant: small-caps;
  color: #888;
}

.year h5 {
  color: #888;
}

/* #comments { */
/*   border-top: 2px solid #ebebeb; */
/* } */
